<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Intrinsic value calculator for stocks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.css"/>
  <link rel="stylesheet" href="styles.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body ng-app="ivc">
  <div class="jumbotron">
    <div class="container">
      <h1>Intrinsic Value Calculator for stocks</h1>
      <p>An online calculator version of the excellent guide written by <a href="http://www.clime.com.au/articles/demystifying-intrinsic-value-step-by-step/">clime</a>.</p>
      <p>
        I've written a guide on how to find the required data:
        <a href="https://github.com/tomsaleeba/stocks-ivc/blob/master/finding-the-data/README.md" target="_blank" class="btn btn-lg btn-success">
          <span class="glyphicon glyphicon-question-sign"></span>
          Finding the required data
        </a>
      </p>
      <p><small>
        Got feedback? I'd love to hear it.
        <a href="https://www.surveymonkey.com/r/C5ZWLNF" target="_blank" class="btn btn-info">
          <span class="glyphicon glyphicon-bullhorn"></span>
          Give feedback
        </a>
        </small>
      </p>
      <p><small>Disclaimer: This calculator has no brain, you need to use yours.</small></p>
    </div>
  </div>

  <div class="container" ng-controller="TheController">
    <div class="row">
      <div class="col-md-12">
          <h2>Inputs</h2>
      </div>
      <div class="col-md-6">
        <form class="form-horizontal">
          <ivc-input ivc-model="annualDividends" ivc-config="annualDividendsConfig"></ivc-input>
          <ivc-input ivc-model="frankingPercentage" ivc-config="frankingPercentageConfig"></ivc-input>
          <ivc-input ivc-model="retainedEarnings" ivc-config="retainedEarningsConfig"></ivc-input>
          <ivc-input ivc-model="changeInReserves" ivc-config="changeInReservesConfig"></ivc-input>
          <ivc-input ivc-model="abnormals" ivc-config="abnormalsConfig"></ivc-input>
          <ivc-input ivc-model="openingEquity" ivc-config="openingEquityConfig"></ivc-input>
        </form>
      </div>
      <div class="col-md-6">
        <form class="form-horizontal">
          <ivc-input ivc-model="newNetOrdinaryEquity" ivc-config="newNetOrdinaryEquityConfig"></ivc-input>
          <ivc-input ivc-model="closingEquity" ivc-config="closingEquityConfig"></ivc-input>
          <ivc-input ivc-model="outstandingShares" ivc-config="outstandingSharesConfig"></ivc-input>
          <ivc-input ivc-model="currentSharePrice" ivc-config="currentSharePriceConfig"></ivc-input>
          <ivc-input ivc-model="purchasedPrice" ivc-config="purchasedPriceConfig"></ivc-input>
        </form>
      </div>
      <div class="col-xs-12 text-center text-muted">
        Scroll down to see results \/
      </div>
      <div class="col-md-12">
        <!-- TODO redraw chart on doCalc() -->
        <h2>Charted results</h2>
        <div id="chart-container">
          <div dc-chart="lineChart" ng-if="theDimension"
            dc-height="480"
            dc-x="d3.scale.ordinal()"
            dc-x-units="dc.units.ordinal"
            dc-x-axis-label="'Required return (%)'"
            dc-brush-on="false"
            dc-render-horizontal-grid-lines="true"
            dc-dimension="theDimension"
            dc-group="theGroup"
            dc-y-axis-label="'Intrinsic value ($)'"
            dc-post-setup-chart="chartPostSetup">
          </div>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <div class="result-container">
          <h2 class="text-center">Results</h2>
          <p class="text-muted text-center">Hover over a point in the chart to see the figures at that point.</p>
          <table class="table table-striped">
            <tbody>
              <tr class="main-value">
                <th>Intrinsic value</th>
                <td ng-show="isInputValid()">${{getIntrinsicValue() | number:2}} <small>(at {{getRequiredReturn()}}% required return)</small></td>
                <td ng-hide="isInputValid()">$-.--</td>
              </tr>
              <tr>
                <th>Current margin of safety</th>
                <td ng-show="isInputValid()"
                    ng-class="{'good-result': isCurrentMarginOfSafetyPositive(), 'bad-result': !isCurrentMarginOfSafetyPositive()}">
                  {{getCurrentMarginOfSafety() * 100 | number:2}}%
                </td>
                <td ng-hide="isInputValid()">--%</td>
              </tr>
              <tr>
                <th>Purchased margin of safety</th>
                <td ng-show="isInputValid()"
                    ng-class="{'good-result': isPurchasedMarginOfSafetyPositive(), 'bad-result': !isPurchasedMarginOfSafetyPositive()}">
                  {{getPurchasedMarginOfSafety() * 100 | number:2}}%
                </td>
                <td ng-hide="isInputValid()">--%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-12">
        <a class="btn btn-link"
            ng-init="hideTable = true"
            ng-show="hideTable"
            ng-click="hideTable = false">
          Show full table of workings
        </a>
        <div ng-hide="hideTable">
          <h2>Tabular results</h2>
          <table class="table">
            <thead>
              <tr>
                <th class="text-right">Required return</th>
                <th class="text-right">Intrinsic value</th>
                <th class="text-right">Current margin of safety</th>
                <th class="text-right">Purchased margin of safety</th>
                <th class="text-right">Grossed-up dividends</th>
                <th class="text-right">Normalised earnings</th>
                <th class="text-right">Net return on equity (NROE)</th>
                <th class="text-right">Payout ratio</th>
                <th class="text-right">Payout ratio (percentage)</th>
                <th class="text-right">Bond component</th>
                <th class="text-right">Growth component</th>
                <th class="text-right">Adjusted bond component</th>
                <th class="text-right">Adjusted growth component</th>
                <th class="text-right">Equity multiplier</th>
                <th class="text-right">Equity per share</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="curr in resultRecords">
                <td class="numeric-cell">{{curr.requiredReturn}}%</td>
                <td class="numeric-cell">${{indexedRecords[curr.requiredReturn].intrinsicValue | number:2}}</td>
                <!-- do we use indexedRecords for evertyhing for create helper getters? -->
                <td class="numeric-cell">{{curr.currentMarginOfSafety * 100 | number:2}}%</td>
                <td class="numeric-cell">{{curr.purchasedMarginOfSafety * 100 | number:2}}%</td>
                <td class="numeric-cell">M${{curr.grossedUpDivs | number:2}}</td>
                <td class="numeric-cell">M${{curr.normalisedEarnings | number:2}}</td>
                <td class="numeric-cell">{{curr.nroe * 100 | number:2}}%</td>
                <td class="numeric-cell">{{curr.payoutRatio | number:4}}</td>
                <td class="numeric-cell">{{curr.payoutRatioPercentage | number:2}}%</td>
                <td class="numeric-cell">{{curr.bondComponent | number:2}}</td>
                <td class="numeric-cell">{{curr.growthComponent | number:2}}</td>
                <td class="numeric-cell">{{curr.adjustedBondComponent | number:2}}</td>
                <td class="numeric-cell">{{curr.adjustedGrowthComponent | number:2}}</td>
                <td class="numeric-cell">{{curr.equityMultiplier | number:2}}</td>
                <td class="numeric-cell">${{curr.equityPerShare | number:2}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <hr>

    <footer>
      <p class="text-center">&copy; Tom Saleeba 2017 <a href="https://twitter.com/techotom">@techotom</a></p>
      <p class="text-center">View source code on <a href="https://github.com/tomsaleeba/stocks-ivc" target="_blank">GitHub</a></p>
    </footer>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter2/1.3.14/crossfilter.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.min.js"></script>
  <script src="https://cdn.rawgit.com/tomsaleeba/angular-dc/d8bc2fbd/dist/angular-dc.min.js"></script>
  <script src="app.js"></script>
  <script>
    (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-101335262-3', 'auto');
    ga('send', 'pageview');
  </script>
</body>

</html>